body {
    margin-left: 6%;
    margin-right: 6%;
}

button {
    background-color: rgb(0,109, 53);
    padding: 10px 20px;
    border: 1px solid rgb(0,109, 53);
    border-radius: 10px;
    color: #FFF;
}
a {
    text-decoration: none;
    color: rgb(0,109, 53);
    &:visited {
        color: rgb(0,109, 53);

    }
}

img {
    width: 12%;
}
